.app {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
    background-color: #ccc;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dashboard {
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input-range {
    width: 100%;
}

.play-list {
    background-color: #f3f2f7;
    padding: 20px;
    margin-top: 400px;
}
